Django==1.9.5
django-tinymce==2.3.0
html5lib==0.9999999
Pillow==3.1.1
PyPDF2==1.26.0
reportlab==3.3.0
six==1.10.0
wheel==0.24.0
xhtml2pdf==0.0.6
dj-database-url==0.2.2
dj-static==0.0.6
gunicorn==18.0
psycopg2==2.5.2
static==1.0.2
wsgiref==0.1.2
