{% extends 'template.html' %}
{%  block content %}
{% load humanize %} 
<div class="container main-container">
    <div class="jumbotron exit">
        <div class="row">
            <div class="col-md-9">
                <h1>Felicitaciones!</h1>
            <p>Tu compra de realizo con exito. En breves minutos un asesor de Perfumes Pink/826 se pondra en contacto contigo.</p>
            </div>
            <div class="col-md-3">
            <img class="img-responsive" src="static/images/carrito.png">
            </div>
        </div>
    </div>
</div>


{% endblock %}		