<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Perfumes Pink</title>
		<link rel="shortcut icon" href="images/icons/favicon.ico">
		<link rel="stylesheet" href="css/main.css" type="text/css"/>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/carousel.css" rel="stylesheet">
		<link rel="stylesheet" href="css/font-awesome.css">
		<link href="css/estilos.css" rel="stylesheet">		
	</head>
<body>
	<div class="the-background">
		<div id="header" class="sdnavbar-fixed-top">
			<nav class="navbar">
				<div class="container relative">
					<div class="row">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-sm-6  col-xs-8">
									<div class="logo">
										<a href="index.html"><img class="img-responsive" src="images/lg.png" alt="Perfumes Pink"/></a>
									</div>
								</div>
								<div class="col-sm-6 col-xs-4">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<div class="pull-right hidden-xs hidden-sm">
										<div id="contact-info-phone">
											<h4><span class="glyphicon glyphicon-phone" aria-hidden="true"></span></h4><strong> 311 602 698</strong><br><br>
											<h4><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></h4><strong> Cr. 9 # 10-54</strong>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
							<div class="col-md-1"></div>

						<div id="navbar" class="navbar-collapse collapse">
						<!--Css 7288-->
							<ul class="nav navbar-nav" >
	    				    	<li class="is-bold"><a href="#">Perfumes para Mujer</a></li>
						    	<li class="is-bold"><a href="#">Perfumes para hombre</a></li>
						    	<li class="is-bold"><a href="#">Comprar</a></li>
						    	<li class="is-bold"><a href="#">Contactenos</a></li>
					    	</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</div>
	<div class="container marcas">		
		<div class="row">
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="images/products/1.jpg" alt="Perfumes Pink">
		      <div class="caption">
		        <h3>Fragancia 1</h3>
		        <p><a href="#" class="btn btn-primary" role="button">Comprar</a></p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="images/products/3.jpg" alt="Perfumes Pink">
		      <div class="caption">
		        <h3>Fragancia 1</h3>
		        <p><a href="#" class="btn btn-primary" role="button">Comprar</a></p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="images/products/2.jpg" alt="Perfumes Pink">
		      <div class="caption">
		        <h3>Fragancia 1</h3>
		        <p><a href="#" class="btn btn-primary" role="button">Comprar</a></p>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="row">
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="images/products/1.jpg" alt="Perfumes Pink">
		      <div class="caption">
		        <h3>Fragancia 1</h3>
		        <p><a href="#" class="btn btn-primary" role="button">Comprar</a></p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="images/products/3.jpg" alt="Perfumes Pink">
		      <div class="caption">
		        <h3>Fragancia 1</h3>
		        <p><a href="#" class="btn btn-primary" role="button">Comprar</a></p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="images/products/2.jpg" alt="Perfumes Pink">
		      <div class="caption">
		        <h3>Fragancia 1</h3>
		        <p><a href="#" class="btn btn-primary" role="button">Comprar</a></p>
		      </div>
		    </div>
		  </div>
		</div>

		<div id="footer">
			<div class="top-area">
				<div class="container">
					<div class="row">
						<div class="col-xs-14">
							<div class="caja-redes">
							   <a href="#" class="icon-button pinterest"><i class="fa fa-envelope" aria-hidden="true"></i><span></span></a>
							   <a href="#" class="icon-button facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a>
							   <a href="#" class="icon-button whatsapp"><i class="fa fa-whatsapp"></i><span></span></a>
							   <a href="#" class="icon-button google-plus"><i class="fa fa-google-plus" aria-hidden="true"></i><span></span></a>
							</div>
						</div>
					</div>	
				</div>
			</div>
			<div class="bottom-area">
				<div class="container">
				
					<div class="row">
						<div class="col-xs-12">
							<div class="text-center">
							COPYRIGHT© 2016 PERFUMES PINK. TODOS LOS DERECHOS RESERVADOS.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/main.js" charset="utf-8"></script>
	</body>
</html>