{% extends 'template.html' %}
{%  block content %}
<div class="container">
  <nav>
      <ul class="nav nav-pills pull-right">
          <li><a href="indexMaster"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a></li>
          <li role="presentation"><a href="logout">Salir</a></li>
      </ul>
  </nav>
</div>
<form class="registry" method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-5">
        <div class="form-group"><h4>
          <label for="sel1">Operación a realizar:</label>
          <select class="form-control" name="sel1" id="sel1" required>
            <option value="@">Seleccione...</option>
            <option value="mr" name="mr">Crear marca</option>
            <option value="vf" name="vf">Crear Perfume</option>
            <option value="rc" name="rc">Modificar Perfume</option>
          </select>
        </div>
        <div style ="display:none;" id="multiple">
          {% csrf_token %}
          <div class="form-group">
            {% csrf_token %}
            <fieldset class="module aligned ">
              <div class="form-row field-tipoF">
                <input class="form-control" id="id_nombre" name="tipoF" type="hidden" value="crema">
              </div>
              <div class="form-row field-nombre">
                <div>
                  <label class="required" for="id_nombre">Nombre:</label>
                  <input class="form-control" id="id_nombre" name="nombre" type="text" value="">
                </div>
              </div>
              <div class="form-row field-imagen">
                <div>
                  <label class="required" for="id_imagen">Imagen:</label>
                  <input id="id_imagen" name="imagen" type="file">
                </div>
              </div>
              <div class="form-row field-generoPrincipal">
                <div>
                  <label class="required" for="id_generoPrincipal">GeneroPrincipal:</label>
                  <select id="id_generoPrincipal" name="generoPrincipal">
                    <option value="" selected="selected">---------</option>
                    <option value="M">Ellos</option>
                    <option value="F">Ellas</option>
                    <option value="N">Ninguno</option>
                  </select>
                </div>
              </div>
              <div class="form-row field-generoSecundario">
                <div>
                  <label class="required" for="id_generoSecundario">GeneroSecundario:</label>
                  <select id="id_generoSecundario" name="generoSecundario">
                    <option value="" selected="selected">---------</option>
                    <option value="M">Ellos</option>
                    <option value="F">Ellas</option>
                    <option value="N">Ninguno</option>
                  </select>
                </div>
              </div>    
            </fieldset>
          </div>
        </div>
        <div style ="display:none;" id="crearPerfume" name="crearPerfume">
          <div class="form-group">
          {% csrf_token %}
            <fieldset class="module aligned ">
              <div class="form-row field-tipoF">
                <input class="form-control" id="id_nombre" name="tipoF" type="hidden" value="crepe">
              </div>
              <div class="form-row field-nombre">
                <div>
                  <label class="required" for="id_nombre">Nombre:</label>
                  <input class="form-control" id="id_nombre" name="nombreP" type="text" value="">
                </div>
              </div>
              <div class="form-group"><h4>
                <select class="form-control" id="ciud" name="marcaP">
                  <option value="0">Marca</option>
                  {% for marka in markas %}
                  <option value="{{ marka.id }}">{{ marka.nombre }}</option>
                  {% endfor %}
                </select></h4>
              </div>
              <div class="form-row field-precio">
                <div>
                  <label class="required" for="id_precio">Precio:</label>
                  <input class="form-control" id="id_precio" name="precioP" type="text" value="">
                </div>
              </div>
              <div class="form-row field-presentacion">
                <div>
                  <label class="required" for="id_precio">Presentación:</label>
                  <input class="form-control" id="id_presentacion" name="presentacionP" type="text" value="">
                </div>
              </div>
              <div class="form-row field-imagen">
                <div>
                  <label class="required" for="id_imagen">Imagen:</label>
                  <input id="id_imagen" name="imagenP" type="file">
                </div>
              </div>
              <div class="form-row field-generoPrincipal">
                <div>
                  <label class="required" for="id_generoPrincipal">GeneroPrincipal:</label>
                  <select id="id_generoPrincipal" name="generoPrincipalP">
                    <option value="" selected="selected">---------</option>
                    <option value="M">Ellos</option>
                    <option value="F">Ellas</option>
                    <option value="N">Ninguno</option>
                  </select>
                </div>
              </div>
              <div class="form-row field-generoSecundario">
                <div>
                  <label class="required" for="id_generoSecundario">GeneroSecundario:</label>
                  <select id="id_generoSecundario" name="generoSecundarioP">
                    <option value="" selected="selected">---------</option>
                    <option value="M">Ellos</option>
                    <option value="F">Ellas</option>
                    <option value="N">Ninguno</option>
                  </select>
                </div>
              </div>    
            </fieldset>
          </div>
        </div>
        <div style="display:none;" id="modificaperfume">
          <div class="form-group">
            <fieldset class="module aligned"><h4>
            <label class="required" for="id_generoSecundario">Referencia:</label>
              <select class="form-control" id="perfumeM" name="perfumeM">
                <option value="0">Seleccione ...</option>
                {% for perfume in perfumes %}
                <option value="{{ perfume.id }}">{{ perfume.nombre }}</option>
                {% endfor %}
              </select></h4>
              <div class="form-row field-precio">
                <div>
                  <label class="required" for="id_precio">Precio:</label>
                  <input class="form-control" id="id_precio" name="precioM" type="text" value="">
                </div>
              </div>
            </fieldset>  
          </div>
        </div>
        <br><input type="submit" id="submit" onclick="javascript:document.getElementById('formPrincipal').submit();"class="btn btn-primary" />  
      </div>
    </div>
  </div>
</form>

  
<script>
  document.getElementById("sel1").onchange = mostrar;
  function mostrar()
  {
    document.getElementById("multiple").style.display = "none";
    document.getElementById("crearPerfume").style.display = "none";
    document.getElementById("modificaperfume").style.display = "none";

    if(document.getElementById("sel1").value == "mr")
     document.getElementById("multiple").style.display = "block";

   else if(document.getElementById("sel1").value == "vf")
     document.getElementById("crearPerfume").style.display = "block";

   else if (document.getElementById("sel1").value == "rc")
    document.getElementById("modificaperfume").style.display = "block";
  }
</script>
{% endblock %}		